code {
  font-size: 80%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

nav {
  margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  line-height: 50px; /* Vertically center the text there */
}

.card {
  margin: 6px;
}

.media {
  margin-bottom: 10px;
}
