<!DOCTYPE html>
<html lang="cs">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3088225-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-3088225-4');
  </script>
  <!-- Google reCAPTCHA -->
  <script src="https://www.google.com/recaptcha/api.js?render=6Lc9NboUAAAAAOROo8qb3YXa-PvAOJvy0eRXBHnF"></script>
  <script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6Lc9NboUAAAAAOROo8qb3YXa-PvAOJvy0eRXBHnF');
    });
  </script>
  <title>{{ page.title }} :: {{ site.title }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Amatérské stránky o motýlech od amatérských chovatelů, motýlů.">
  <meta name="keywords" content="motýl,butterfly,attacus,atlas,imperator">
  <meta name="author" content="Kramlíci">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/">Motýli</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {% for item in site.data.menu.items %}
            {% assign active = false %}
            {% if item.url == '/' %}
              {% if page.url == '/' %}
                {% assign active = true %}
              {% elsif page.url == '/' %}
                {% assign active = true %}
              {% endif %}
            {% else %}
              {% if page.url contains item.url %}
                {% assign active = true %}
              {% endif %}
            {% endif %}
            <li class="nav-item {% if active %}active{% endif %}">
              <a class="nav-link" href="{{ item.url }}">{{ item.title }}{% if active %}<span class="sr-only">(current){%endif %}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <div role="main" class="container">
    {{ content }}
  </div>

  <footer class="bg-secondary text-white footer">
    <div class="container">
      <span class="float-right">
        <a href="#top" class="text-white">&#x25B2;</a>
      </span>
      <span>
        &#x00A9; {{ site.email }} 2018
      </span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
